<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/USER/eclipse-workspace/LoginFunctionality"><classes><class name="LoginFunctionality.InvalidLoginTest"><methods><include name="testInvalidLogin"/></methods></class><class name="LoginFunctionality.ValidLoginTest"><methods><include name="testValidLogin"/></methods></class></classes></test></suite>